<!-- 
<!DOCTYPE html>
<html>
  <head>
    <title>Create a New Campus</title>
  </head>
  <body>

    <p> Type in the new campus that you would like to attend! </p>
    <form action="/campus" method="POST">
      <input type="text" name="city" placeholder="City">
      <button type="submit">Save</button>
    </form>
  </body>
</html>

-->