#hat {
	position:relative;
	top: 100px;
	left: 40%;
	z-index: 2;
}


#glasses {
	position: absolute;
	top: 275px;
	left: 45%;
	margin: 0 auto;
	z-index: 3;
}

#octopus {
	display: block;
	margin: 0 auto;
	z-index: 1;
}
