#container {
	
}

.octopus {
	display: block;
	margin: 0 auto;
	
	padding-top: 50px;
	z-index: 1;
}

.hat {
	position: relative;
	margin: 0 auto;
	z-index: 2;
}


.glasses {
	position: relative;
	margin: 0 auto;
	z-index: 3;
}

