.octopus {
	display: block;
	position: absolute;
    	top: 80px;
    	z-index: 2;
    	width: 300px;
   	margin-left:-155px;
    	left: 50%;
}

.hat { 
	position: relative;
	width: 350px;
	margin: 0 auto;
	z-index: 2;
}

.glasses {
	position: relative;
	width: 150px;
	right: 40px;
	margin: 0 auto;
	z-index: 3;
}
